body {  
    background-color: salmon;
 }

 ul {
    list-style-type: none;
 }

 li{
    margin: 5px;
    width: 40%;
    height: 25px;
    background-color: white;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 2px;
    cursor: grab;
    box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
    transition: margin 0.25s;
    ;
 }